.languages {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: $color-primary-dark;
  white-space: nowrap;
  
  ul {
    list-style: none;
    
    li {
      display: inline-block;
      
      &:not(:last-child) {
        &::after {
          content: '';
          display: inline-block;
          margin: 0 0.24em;
          font-weight: inherit;
          height: 1.4em;
          width: 1px;
          background: $color-secondary-dark;
          vertical-align: middle;
        }
      }
    }
  }
  
  a {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: currentColor;
    transition: color .3s linear;
    
    &:hover, &:active, &.active {
      color: $color-primary;
    }
  }
}