%field-default {
  font-family: $font-primary;
  font-size: 1.9rem;
  line-height: normal;
  padding: .8rem 0;
  width: 100%;
  margin: 0;
  display: block;
  min-width: 0;
  border-radius: 0;
  animation-name: mui-auto-fill-cancel;
  -webkit-tap-highlight-color: transparent;
  color: currentColor;
  border-bottom: 1px solid rgba($color-grey-light4, 1);
  border-right: none;
  border-left: none;
  border-top: none;
  background: transparent;
  font-weight: normal;
  font-style: normal;
  transition: all .2s;
  outline: none;
  
  &:focus {
    border-color: $color-dark-blue;
  }
  
  &:active {
    border-color: $color-dark-blue;
  }
  
  &.error {
    border-color: $color-red;
  }
  
  @include placeholder {
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    font-style: normal;
    color: $color-grey-dark;
    line-height: inherit;
  }
}

.form {
  $form: &;
  
  @media only screen and(max-width: 599px) {
    margin-left: auto;
    margin-right: auto;
  }
  
  &--inline {
    @media only screen and(max-width: 599px) {
      margin-left: auto;
      margin-right: auto;
      max-width: 28.7rem;
    }
    
    #{$form} {
      &__field {
        width: 100%;
      }
  
      &__row {
        margin: 0;
        
        & > div[class*="form__"] {
          margin: 0;
        }
  
        & > div[class*="form__actions"] {
          margin-left: 1rem;
          flex: unset;
          
          @media only screen and(max-width: $container-tablet-sm) {
            margin: 1.5rem 0 0;
          }
          
          .btn {
            @media only screen and(max-width: $container-tablet-sm) {
              width: 100%;
            }
          }
        }
      }
    }
  }
  
  &__title {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 600;
    font-size: 2.1rem;
    line-height: 2.4rem;
    color: $color-primary-dark;
    margin: 0 0 3.2rem;
    
    &--center {
      text-align: center;
    }
    
    &--uppercase {
      text-transform: uppercase;
    }
    
    &--sm {
      font-size: 1.7rem;
      margin: 0 0 2.4rem;
    }
  }
  
  &__field {
    
    $filed: &;
    
    position: relative;
    color: $color-primary-dark;
    border-radius: 0;
    
    &:not(:last-child){
      margin: 0 0 3.6rem;
    }
    
    button {
      cursor: pointer;
    }
    
    &-icon {
      font-size: 1.6rem;
      position: absolute;
      left: 1.2rem;
      right: auto;
      top: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1em;
      box-shadow: none;
      outline: none;
      border: none;
      background: transparent;
      transition: all .3s;
      
      img, svg {
        display: block;
        max-width: 100%;
      }
      
      img {
        width: 1em;
      }
      
      svg {
        width: 1em;
        height: 1em;
      }
      
      & ~ input {
        padding-left: 4.4rem;
      }
    }
  
    &-clear {
      right: 1.2rem;
      left: auto;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      
      & ~ input {
        padding-right: 4.4rem;
      }
    }
    
    &-label {
      color: $color-grey-dark;
      position: absolute;
      left: 0;
      bottom: 50%;
      transform: translateY(50%);
      font-size: 1.6rem;
      font-weight: normal;
      font-style: normal;
      transition: all .12s linear;
      line-height: 1;
    }
  
    input {
      height: 4rem;
      margin-top: 1.4rem;
      
      @extend %field-default;
      
      &:focus, &:hover, &.is-not-empty {
        & ~ .form__field-label {
          bottom: 100%;
          left: 0;
          transform: translateY(0);
          font-size: 1.4rem;
          color: $color-primary;
        }
      }
    }
    
    textarea {
      @extend %field-default;
      resize: vertical;
      height: 8rem;
      min-height: 8rem;
      max-height: 22rem;
    }
    
    &--visible-clear {
      #{$filed}-clear {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
      }
    }
    
    label.error {
      position: absolute;
      top: 100%;
      padding-top: 0.2em;
    }
  }
  
  &__checkbox {
    position: relative;
    display: inline-block;
    padding-left: 3.5rem;
    text-align: left;
    font-size: 1.5rem;
    line-height: 2rem;
    
    $checkbox: &;
    
    &__label {
      font-size: inherit;
      font-weight: inherit;
      margin: 0 0 2rem;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    
    &__line {
      margin: 0 0 1.5rem;
      
      &:last-child {
        margin: 0;
      }
    }
    
    
    &__group {
      margin: 1.5rem -.8rem;
      
      &:last-child {
        margin-bottom: 0;
      }
      
      &:first-child {
        margin-top: 0;
      }
      
      #{$checkbox} {
        margin: 0 .8rem;
      }
      
    }
    
    &.error {
      .form__checkbox__element {
        border-color: $color-red;
      }
    }
    
    label.error {
      display: none !important;
    }
    
    input {
      position: absolute;
      visibility: hidden;
      left: -99999px;
      top: -99999px;
      border: 0 none;
      outline: 0 none;
      height: auto;
      display: none;
      
      &:checked {
        & ~ .form__checkbox__element {
          border-color: $color-primary;
          
          &:before {
            opacity: 1;
            width: 9px;
            height: 9px;
          }
        }
      }
    }
    
    span {
      font-size: inherit;
      line-height: inherit;
      
      a {
        font-size: inherit;
        line-height: inherit;
        text-decoration: underline;
        color: $color-primary;
        
        &:hover {
          text-decoration: none;
        }
      }
      
      i {
        font-size: inherit;
        color: inherit;
        font-family: inherit;
        line-height: inherit;
        font-style: normal;
      }
    }
    
    &__element {
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      width: 2rem;
      height: 2rem;
      border: 2px solid $color-primary;
      border-radius: .4rem;
      outline: 0 none;
      transition: border-color .3s;
      cursor: pointer;
      
      
      &:before {
        content: '';
        width: 0;
        height: 0;
        margin: auto;
        opacity: 0;
        position: absolute;
        transition: all .3s;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: .2rem;
        background: $color-primary;
      }
    }
  }
  
  &__radio {
    position: relative;
    display: inline-block;
    padding-left: 2.6rem;
    text-align: left;
    font-size: 1.5rem;
    line-height: 2rem;
    
    $radio: &;
    
    
    &__group {
      margin: 1.5rem -.8rem;
      
      &:last-child {
        margin-bottom: 0;
      }
      
      &:first-child {
        margin-top: 0;
      }
      
      #{$radio} {
        margin: 0 .8rem;
      }
      
    }
    
    &.error {
      .form__radio__element {
        border-color: $color-red;
      }
    }
    
    input {
      position: absolute;
      visibility: hidden;
      left: -99999px;
      top: -99999px;
      border: 0 none;
      outline: 0 none;
      height: auto;
      display: none;
      
      &:checked {
        & + .form__radio__element {
          border-color: $color-primary;
          
          &:before {
            opacity: 1;
            width: 1rem;
            height: 1rem;
          }
        }
      }
    }
    
    span {
      color: $color-primary-dark;
      font-size: inherit;
      line-height: inherit;
      
      a {
        font-size: inherit;
        line-height: inherit;
        text-decoration: underline;
        color: $color-primary;
        
        &:hover {
          text-decoration: none;
        }
      }
      
      i {
        font-size: inherit;
        color: inherit;
        font-family: inherit;
        line-height: inherit;
        font-style: normal;
      }
    }
    
    &__element {
      display: block;
      position: absolute;
      left: 0;
      top: .2em;
      margin-top: 0;
      width: 2rem;
      height: 2rem;
      border: 2px solid $color-primary;
      border-radius: 50%;
      outline: 0 none;
      transition: border-color .3s;
      cursor: pointer;
      
      &:before {
        content: '';
        width: 0;
        height: 0;
        margin: auto;
        opacity: 0;
        position: absolute;
        transition: all .3s;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: $color-primary;
        border-radius: 50%;
      }
    }
  }
  
  &__row {
    display: flex;
    align-items: flex-start;
    margin: 0 -1.5rem;
    
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  
    @media only screen and(max-width: $container-tablet-sm) {
      display: block;
      margin: 0;
    }
    
    & > div[class*="form__"] {
      margin: 0 1.5rem;
      flex: 1;
      
      @media only screen and(max-width: $container-tablet-sm) {
        margin: 0 0 1.5rem;
      }
    }
  }
  
  &__cell {
    flex: 1;
  }
  
  &__note {
    text-align: left;
    color: $color-secondary-dark;
    font-family: $font-primary;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: normal;
    margin: 3.2rem 0;
    display: flex;
    align-items: center;
    
    &-icon {
      flex-shrink: 0;
      line-height: 1;
      font-size: 2.8rem;
      margin-right: 2.8rem;
    }
    
    &:first-child {
      margin-top: 0;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.2rem 0 0;
  
    @media only screen and(max-width: $container-tablet-sm) {
      flex-direction: column;
      justify-content: center;
    }
  
    @media only screen and(max-width: $container-mobile-lg) {
      align-items: stretch;
    }
    
    &--offset-top-lg {
      margin: 5.6rem 0 0;
    }
    
    &--left {
      justify-content: flex-start;
    }
    
    .link {
      margin-right: auto;
    }
    
    .btn + .btn {
      margin-left: auto;
  
      @media only screen and(max-width: $container-tablet-sm) {
        margin: 2.4rem 0 0;
      }
    }
  }
  
  &__item {
    padding: 3rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    
    &:last-child {
      border: none;
    }
  }
  
  &__agreement {
    padding: 1.5rem 0;
    position: relative;
    
    &.error {
      color: currentColor;
      font-weight: normal;
      
      label {
        color: currentColor;
        font-weight: normal;
      }
  
      .form__checkbox__element {
        border-color: $color-red;
      }
    }
    
    &:before {
      content: '';
      position: absolute;
      left: -9999rem;
      right: -9999rem;
      top: 0;
      bottom: 0;
      background-color: transparent;
    }
    
    &.error {
      &:before {
        background-color: rgba($color-red, 0.3);
      }
    }
    
    & > * {
      position: relative;
    }
  }
}

.error {
  label, .form__label {
    color: $color-red;
  }
  
  input, textarea, {
    color: $color-red;
  }
}

label.error {
  font-size: 1.4rem;
  line-height: 1.2;
  color: $color-red;
  font-weight: 500;
}

